﻿
<section id="basic-horizontal-layouts ">
    <div class="row match-height ">
        <div class="col-md-7 m-auto col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Product</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Product Name</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control" name="productname"
                                               placeholder="Product Name">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Price</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" id="email-id" class="form-control" name="price"
                                               placeholder="Price">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Product Quantity</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" id="contact-info" class="form-control" name="productquantity"
                                               placeholder="Product Quantity">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Details</label>
                                    </div>
                                    <div class="col-md-8 form-group">
                                        <input type="text" class="form-control" name="details"
                                               placeholder="Details">
                                    </div>

                                    <div class="col-sm-12 d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                        <button type="reset"
                                                class="btn btn-light-secondary me-1 mb-1">
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>