﻿
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] Dashboard</title>

    <link rel="stylesheet" href="~/admin/assets/css/main/app.css">
    <link rel="shortcut icon" href="~/admin/assets/images/logo/favicon.svg" type="image/x-icon">
    <link rel="shortcut icon" href="~/admin/assets/images/logo/favicon.png" type="image/png">

    <link rel="stylesheet" href="~/admin/assets/css/shared/iconly.css">
    @await RenderSectionAsync("Style", required: false)
</head>

<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <header class="mb-5">
                <div class="header-top">
                    <div class="container">
                        <div class="logo">
                            <a href="index.html"><img src="~/admin/assets/images/logo/logo.svg" alt="Logo"></a>
                        </div>
                        <div class="header-top-right">

                            <div class="dropdown">
                                <a href="#" id="topbarUserDropdown" class="user-dropdown d-flex align-items-center dropend dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="avatar avatar-md2">
                                        <img src="~/admin/assets/images/faces/1.jpg" alt="Avatar">
                                    </div>
                                    <div class="text">
                                        <a class="user-dropdown-name text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="topbarUserDropdown">
                                    <li><a class="dropdown-item" href="#">My Account</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    @* <li><a class="dropdown-item" href="auth-login.html">Logout</a></li> *@
                                    <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                    </form>
                                </ul>
                            </div>

                            <!-- Burger button responsive -->
                            <a href="#" class="burger-btn d-block d-xl-none">
                                <i class="bi bi-justify fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <ul>
                            <li class="menu-item">
                                <a asp-area=" " asp-controller="Dashboard" asp-action="index" class='menu-link'>
                                    <span>
                                        <i class="bi bi-grid-fill"></i>
                                        Dashboard
                                    </span>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a asp-area=" " asp-controller="Categorie" asp-action="index" class='menu-link'>
                                    <span>Categorie</span>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a asp-area=" " asp-controller="AddProduct" asp-action="index" class='menu-link'>
                                    <span>Add Product</span>
                                </a>
                            </li>

                            <li class="menu-item">
                                <a asp-area=" " asp-controller="ShopProductList" asp-action="index" class='menu-link'>
                                    <span>Shop Product List</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </header>

            <div class="content-wrapper container">
                @RenderBody()
            </div>

            <footer>
                <div class="container">
                    <div class="footer clearfix mb-0 text-muted">
                        <div class="float-start">
                            <p>2021 &copy; Mazer</p>
                        </div>
                        <div class="float-end">
                            <p>
                                Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a href="https://saugi.me">Saugi</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/admin/assets/js/bootstrap.js"></script>
    <script src="~/admin/assets/js/app.js"></script>
    <script src="~/admin/assets/js/pages/horizontal-layout.js"></script>

    <script src="~/admin/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="~/admin/assets/js/pages/dashboard.js"></script>

</body>

</html>
